<p>
  Have you ever been travelling home after work with no clue or no fresh ideas about what to make for dinner? I know I have!

  What's for dinner is an interactive app where you can share your favourite recipes and get ideas for dinner.

  Every family has favourite recipes, these are by definition tasty and easy to make, otherwise you wouldn't make them so often!

  What's for dinner is a platform where you can share these dinner recipes, but also have access to the recipes loved by other families.

  You know if you made a weekly dinner plan that it would be much less stressful on the way home deciding what to eat. You would eat healthier and have less takeouts. It just always seems too hard..... well Whats for dinner? is trying to make it quick and easy to plan your weekly menu.

</p>
