<br>

<h2 id= "sub">Add in my recipe</h2>
<br>

<p class = "latest">
  Every family has favourite recipes, just take a photo and upload
</p>
<!-- <form class="" action="/" method="get"> -->

<form  action="/recipe" method="post" enctype="multipart/form-data">
Upload recipe
    <input type="file" name="recipe" /><br>
  Upload a photo (optional)
    <input type="file" name="photo" /><br>


<!--need to browse and upload photos  -->

<div>
  <label for="">Recipe name</label>
  <input type="text" name="recipe_name" >
</div>
<div>
  <label for="">Description</label>
  <textarea name="description" id= "" rows="2" cols="60"></textarea>
</div>


  <br><h2>Select categories</h2>

  <label><input class= "check" type="checkbox" name= "healthy" id="cbox1" value="healthy"> Healthy</label><br>

  <label><input class= "check" type="checkbox" name= "hot" id="cbox2" value="hot"> Hot</label>

  <label><input class= "check" type="checkbox" name= "cold" id="cbox3" value="cold"> Cold</label><br>

  <label><input class= "check" type="checkbox" name= "no_cook" id="cbox4" value="nocook"> No cook</label>

  <label><input class= "check" type="checkbox" name= "spicy" id="cbox5" value="spicy"> Spicy</label><br>

  <label><input class= "check" type="checkbox" name= "less_than_30" id="cbox6" value="readysoon"> Ready in less than 30 mins</label>

  <label><input class= "check" type="checkbox" name= "will_impress" id="cbox7" value="impress"> Will impress</label>

  <label><input class= "check" type="checkbox" name= "kid_friendly" id="cbox8" value="kid"> Kid friendly</label><br>

  <label><input class= "check" type="checkbox"  name= "vegetarian" id="cbox9" value="vegetarian"> Vegetarian</label>

  <label><input class= "check" type="checkbox"  name= "gluten_free" id="cbox10" value="gluten"> Gluten free</label>

  <label><input class= "check" type="checkbox" name= "dairy_free" id="cbox11" value="dairy"> Dairy free</label>

  <label><input class= "check" type="checkbox"  name= "nightshade_free" id="cbox12" value="nightshade"> Nightshade free</label>

  <br><br>
    <button > SUBMIT </button>


  </form>
