<form class="" action="/" method="get">
  <button > HOME </button>
</form><br>

<h1>Add in my favourite recipe</h1>
<br>

<p>
  Every family has favourite recipes, these are by definition tasty and easy to make, otherwise you wouldn't make them so often! Just take a photo of the recipe.
</p>
<!-- <form class="" action="/" method="get"> -->
  OK <%= current_user.username %>, upload a photo of your recipe (make sure it's readable)
  <input type="file" name="recipe_img" >

<!--need to browse and upload photos  -->
<!-- </form> -->

<form  action="/recipe" method="post">
  <label for="">Recipe name</label>
  <input type="text" name="recipe_name" >

  <label for="">Description</label>
  <textarea name="description" id= "" rows="4" cols="40"></textarea>

  <p> You can upload a photo of the dish (optional) </p>
  <input type="file" name="recipe_photo" >

  <h2>Select the categories that apply</h2>

  <label><input class= "check" type="checkbox" name= "healthy" id="cbox1" value="healthy"> Healthy</label><br>

  <label><input class= "check" type="checkbox" name= "hot" id="cbox2" value="hot"> Hot</label>

  <label><input class= "check" type="checkbox" name= "cold" id="cbox3" value="cold"> Cold</label><br>

  <label><input class= "check" type="checkbox" name= "raw" id="cbox4" value="nocook"> No cook</label>

  <label><input class= "check" type="checkbox" name= "spicy" id="cbox5" value="spicy"> Spicy</label><br>

  <label><input class= "check" type="checkbox" name= "quick" id="cbox6" value="readysoon"> Ready in less than 30 mins</label>

  <label><input class= "check" type="checkbox" name= "impress" id="cbox7" value="impress"> Will impress</label>

  <label><input class= "check" type="checkbox" name= "kids" id="cbox8" value="kid"> Kid friendly</label><br>

  <label><input class= "check" type="checkbox"  name= "veggie" id="cbox9" value="vegetarian"> Vegetarian</label>

  <label><input class= "check" type="checkbox"  name= "gluten" id="cbox10" value="gluten"> Gluten free</label>

  <label><input class= "check" type="checkbox" name= "dairy" id="cbox11" value="dairy"> Dairy free</label>

  <label><input class= "check" type="checkbox"  name= "nightshade" id="cbox12" value="nightshade"> Nightshade free</label><br><br><br><br>

  <br>
    <button > SUBMIT </button>
  <br>

  </form>
