<!-- <form class="inline" action="/" method="get"> -->
  <!-- <button > HOME </button>
</form>-->
<br>
<p id='options'>
    <h2>Dinners:</h2>

    <% @recipes.each do |dinner| %>
      <div class = "row">
        <div class = "col-5">
          <h3>
            <a href="/get_recipe?recipe_name=<%= dinner.recipe_name %>">
            <%= dinner.recipe_name %>
          </a></h3>
        </div>
        <div class = "col-7">
          <h3>-  <%= dinner.description %>
          </h3>
        </div>
      </div>
    <% end %>

</p>
