<h1>The following recipes match your selections, pick one to display</h1>

<p id='options'>
    <h1>Dinners:</h1><br>

    <% @dinners.each do |dinner| %>
      <div>
        <h2>
          <!--get recipe name and description  -->
          <%= '<a href="/get_movie?movie_name=' + dinner['Title'] + '" >'%>
            <%= dinner['name'] %>
          </a>
        </h2>
      </div>
    <% end %>

</p>
