<br>
<form class="" action="/" method="get">
  <button > HOME </button>
</form>

<!-- search by categories or search by recipe name -->



<!-- if searching by recipe name, use recipe like '% params %' (% is a wildcard)-->
