<% if logged_in? %>

<% else %>
  <div>
    <form class="inline" action="/session/signup" method="get">
      <button >SIGN UP / LOGIN </button>
    </form>
    <!-- <form class="inline" action="/session/new" method="get">
      <button >LOGIN</button>
    </form> -->
  </div>
<% end%>
<br>
<section>
  <a  href="/recipe/get" >
    <button id="first">GET DINNER IDEA</button>
  </a>

  <a  href="/recipe/add">
    <button id = "first">ADD RECIPE</button>
  </a>

  <a  href="/recipe/plan" >
    <button id = "first">PLAN DINNERS</button>
  </a>
</section>
  <p class = "latest">Latest recipe uploaded.... from <%= @username.username %></p>
<img class="pic" src="<%= @latest.recipe.url %>" alt="images/pasta-1463918_1280.jpg" />
