<%# if logged_in? %>
<h2>Hello world</h2>

<%#current_user.username %>
<%# else %>

  <form class="inline" action="/session/signup" method="get">
    <button >SIGN UP</button>
  </form>
  <form class="inline" action="/session/new" method="get">
    <button >LOGIN</button>
  </form>
<%# end%>

<% #if logged_in? %>
<h2>Hello <%=#current_user.username %></h2>
<% #end %>
<section>
  <a  href="/recipe/get" >
    <button id="first">Get Dinner Idea</button>
  </a>

  <a  href="/recipe/add">
    <button id = "first">Add in my favourite recipe</button>
  </a>

  <a  href="/recipe/plan" >
    <button id = "first">Plan a weeks dinners</button>
  </a>
</section>
  <p>  Latest recipe uploaded.... from <%= #@username.username %></p>
<img src="<%= #@latest.recipe.url %>" alt="images/pasta-1463918_1280.jpg" >
