
<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="stylesheets\style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">


    <link rel="shortcut icon" href="images\beefavicon.ico">

    <title>WFD?</title>
  </head>
  <body>

    <h1>What's for dinner?</h1>
    <img src="images\cutlery-377700_1280.jpg" ><br>


    <%= session[:user_id] %>

    <% if logged_in? %>
    logged in as <%= current_user.username %>

    <form class="" action="/session" method="post">
    <input type="hidden" name="_method" value="delete">

      <button >LOGOUT</button>
    </form>

    <% else %>

    <form class="" action="/session/new" method="get">
      <button >LOGIN</button>
    </form>

    <br>
    <form class="" action="/session/signup" method="get">
      <button >SIGN UP</button>
    </form>

    <!-- <a href = "/session/new"> LOGIN </a>
    <a href = "/session/signup"> SIGN UP </a> -->

    <% end%>



    <%= yield %>



    <footer>director kb, producer kb </footer>

  </body>
</html>
