
<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter" rel="stylesheet">
    <link rel="shortcut icon" href="images/beefavicon.ico">
    <title>WFD?</title>
  </head>
  <body>

  <div class="background">
    <div class="transbox">
      <p>What's for dinner?</p>
    </div>
  </div>
  <h3>  <% if logged_in? %> logged in as <%= current_user.username %></h3>

    <form class="inline" action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button >LOGOUT</button>
    </form>

    <% end %>
    <%= yield %>

    <footer>designed by kb </footer>

  </body>
</html>
