
<!DOCTYPE html>
<html lang = "en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat+Brush" rel="stylesheet">
    <link rel="shortcut icon" href="images/beefavicon.ico">
    <title>WFD?</title>
  </head>
  <body>
  <header>
      <h1>What's for dinner?</h1>

  </header>

  <h2>
    <!-- <%= session[:user_id] %> -->
    <% if logged_in? %>
  logged in as <%= current_user.username %></h2>


        <form class="inline" action="/session" method="post">
        <input type="hidden" name="_method" value="delete">
        <button >LOGOUT</button>
      </form>

      <% else %>

      <form class="inline" action="/session/signup" method="get">
        <button >SIGN UP</button>
      </form>
      <br>
      <form class="inline" action="/session/new" method="get">
        <button >LOGIN</button>
      </form>

    <% end%>

    <%= yield %>

    <footer>designed by kb </footer>

  </body>
</html>
