<br>
<form class="" action="/" method="get">
  <button > HOME </button>
</form>

<section>
  <p id = "recipe">
      <img src="<%= @recipe.recipe.url %>" alt="Space for photo" /><br><br>
      Votes : <%= @recipe.votes %>
  </p>
  posted by <%= @username.username %>
</section>

<aside class="post">
  <img src="<%= @recipe.photo.url %>" alt="Space for photo" />

</aside>
