<br>
<!-- <form class="" action="/" method="get">
  <button > HOME </button>
</form> -->

<section>
  <p id = "recipe">
      <img class="pic" src="<%= @recipe.recipe.url %>" alt="Space for photo" />
      <img class="pic" src="<%= @recipe.photo.url %>" alt="Space for photo" />
</section>
<br>
<section>
  posted by <%= @username.username %><br>
  --- <%= @recipe.description %><br>


</section>
