<br>
<form class="" action="/" method="get">
  <button > HOME </button>
</form>

<section>
  <p id = "recipe">
      <img src="<%= @recipe %>" alt="Space for photo" /><br><br>
      Votes : <%= @votes %>
  </p>
  posted by <%= @username%>
</section>

<aside class="post">
  <img src="<%= @photo %>" alt="Space for photo" />

</aside>
