<br>
<form class="" action="/" method="get">
  <button > HOME </button>
</form>

<section>
  <p id = "recipe">
      <img src="<%= @recipe.recipe.url %>" alt="Space for photo" />
      <img src="<%= @recipe.photo.url %>" alt="Space for photo" />

  </p>
  posted by <%= @username.username %><br>
  Votes : <%= @recipe.votes %>
