<h2>Sign Up</h2>

<form class="" action="/signup" method="post">
  <label for="">email</label>
  <input type="text" name="email" >


  <label for="">password</label>
  <input type="password" name="password" >

  <p>(type in a user name which will be used to identify your recipes)</p>
    <label for="">User name</label>
    <input type="text" name="username" >

  <button >SIGN UP</button>

</form>
