<form class="" action="/" method="get">
  <button > HOME </button>
</form>
<h2> Sign Up HERE </h2>

<form class="" action="/signup" method="post">
  <label for="">email</label>
  <input type="text" name="email" ><br>


  <label for="">password</label>
  <input type="password" name="password" ><br>

  <p>(type in a user name which will be used to identify your recipes)</p>
    <label for="">User name</label>
    <input type="text" name="username" ><br>

  <button >SIGN UP</button>
<br><br>
</form>

<h2> Login HERE </h2>
<form class="" action="/session" method="post">
  <label for="">email</label>
  <input type="text" name="email" ><br>

  <label for="">password</label>
  <input type="password" name="password" ><br>

  <button >LOGIN</button>

</form>
