

/*All styling for movies below!!!!!*/

section {
  color: white;
  width: 60%;
  display: inline-block;
  font-size: 20px;
  vertical-align: top;
  border: 2px solid white;
  padding-top:2%;
  padding-bottom:20%;
  padding-left: 5%;
  padding-right: 5%;
}
form {
  padding-bottom: 2%;
}
body {
  /*width: 80%;*/
  font-family: 'Caveat Brush', cursive;

  /*background color: #e86a3e;*/
  background: #636365;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  max width = 59%;
  display: inline-block;
  /*padding-bottom: 30px;*/
  vertical-align: top;
  font-size: 40px;
  background-image: "images\cutlery-377700_1280.jpg";
}
h2 {
  color: black;
  font-size: 25px;
}
button {
  color: white;
  font-size: 25px;
}
aside {
    display: inline-block;
    width: 20%;
}
#clapper{
  max-width: 20%;
  max-height: 20%;
  display: inline-block;

}
#poster{
  display: inline-block;
  width: 20%;
}

.btn {
  background: #755043;
  background-image: -webkit-linear-gradient(top, #755043, #636365);
  background-image: -moz-linear-gradient(top, #755043, #636365);
  background-image: -ms-linear-gradient(top, #755043, #636365);
  background-image: -o-linear-gradient(top, #755043, #636365);
  background-image: linear-gradient(to bottom, #755043, #636365);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #141314;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #755043;
  background-image: -webkit-linear-gradient(top, #636365, #755043);
  background-image: -moz-linear-gradient(top, #636365, #755043);
  background-image: -ms-linear-gradient(top, #636365, #755043);
  background-image: -o-linear-gradient(top, #636365, #755043);
  background-image: linear-gradient(to bottom, #636365, #755043);
  text-decoration: none;
  color: white;
}

input {
  background: #755043;
  background-image: -webkit-linear-gradient(top, #755043, #636365);
  background-image: -moz-linear-gradient(top, #755043, #636365);
  background-image: -ms-linear-gradient(top, #755043, #636365);
  background-image: -o-linear-gradient(top, #755043, #636365);
  background-image: linear-gradient(to bottom, #755043, #636365);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  width: 300px;
  color: white;
  font-size: 20px;
  padding: 10px ;
  text-decoration: none;
}
